include *.txt
include *.md
include *.pkl
recursive-include ./career_app_model/*

include career_app_model/datasets/model_data.csv
include career_app_model/datasets/user_training_data.csv
include career_app_model/datasets/structured_job_roles_data.csv
include career_app_model/trained_models/*.pkl
include career_app_model/VERSION
include career_app_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]